  /* RESET */
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  /* BASE */
  :root {
   --backgrond: #000;
   --text-color: #FFF;
   --button: #8257E5;
   --border: #29292E;
   --border-menu-mobile: #A8A8B3;
   --text-color-menu-mobile: #E1E1E6;
 }

  body {
    background: var(--backgrond);
    color: var(--text-color);
  }

  body, input, textarea, button {
    font: 400 1rem 'manrope', sans-serif;
  }

  button {
    cursor: pointer;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  .flex {
    display: flex;
  }

  .grid {
   display: grid;
  }

  .section {
    padding: 1rem 3rem;
  }

  .list {
   list-style: none;
  }

  /* HEADER */

  #header {
     width: auto;
     padding: 1rem ;
     justify-content: space-between;
     align-items: center;
     border: 1px solid var(--border);
  }


  #webLogo {
   opacity: 0;
   visibility: hidden;
   position: absolute;
  }

  #menu {
   opacity: 0;
   visibility: hidden;
   font-size: 1px;
  }

  #menuButton {
   opacity: 0;
   visibility: hidden;
   position: absolute;
  }

  #menuHeader {
   position: absolute;
   display: flex;
   justify-content: space-between;
   padding: 2rem;
  }

  #openClose {
   background-color: var(--backgrond);
   cursor: pointer;
  }

  .openClose{
   cursor: pointer;
  }

   header.show #menu {
   position: relative;
   opacity: 1;
   visibility: visible;
   background: var(--backgrond);
   color: var(--text-color);
   height: 100vh;
   width: 100%;
   
   position: fixed;
   top: 0;
   left: 0;
  }

  header.show  #menuHeader {
   position: relative;
  }

  header.show #menu .list {
   font-size: 1.5rem;
   width: 100vw;
   padding: 2rem;
   color: var(--text-color-menu-mobile);
   border-top: 1px solid var(--border-menu-mobile);
   border-bottom: 1px solid var(--border-menu-mobile);
   cursor: pointer;

  } 

  header.show #menu .list:hover {
   color: var(--text-color);
   font-weight: 700;
   border-left: 4px solid var(--button);
  }

  /* HOME */


 #home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    padding-bottom: 0;
    background-image: url(assets/blur-1.png);
    background-size: cover
    ;
 }

 #homeTitle {
    padding: 2rem 0;
    text-align: center;
    line-height: 2.5rem;
 }

 .getCoffee {
    display: flex;
    align-items: center;
    justify-content: center;

 }

 .getCoffee button {
    width: 10rem;
    height: 2rem;
    background: var(--backgrond);
    border: 1px solid var(--button);
    border-radius: 6px;
    color: var(--text-color);

    display: flex;
    gap: 0.4rem;
    justify-content: center;
    align-items: center;
    
    font-weight: 800;
    font-size: 11px;

    transition: 0.2s;
 }

 .getCoffee button:hover {
   background: var(--button);
 }

 #greatCoffee {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -0.03em;
  

 }

 #greatCode {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -0.03em;
    color: var(--backgrond);
    text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button), -1px 1px 0 var(--button), 1px 1px 0 var(--button);
 }

 #imgCoffee{
    display: flex;
    justify-content: center;
 }

 
 #imgCoffee img {
   width: -webkit-fill-available;
 }

  /* DESKTOP VERSION */

  @media(min-width: 920px){
   
   #home {
      height: 100vh;
      background-size: cover;
   }

   #imgCoffee img {
      width: auto;
    }

   #webLogo {
      opacity: 1;
      visibility:visible;
      position: relative;
     }

   #mobLogo {
      opacity: 0;
      visibility: hidden;
      position: absolute;
   }
     
   #header {
      padding: 1rem 8rem;
      border: 0;
   }

   #menuHeader {
      position: absolute;
      opacity: 0;
      visibility: hidden;
   }
   
   .openClose {
      position: absolute;
      opacity: 0;
      visibility: hidden;
   }

   #menu {
      opacity: 1;
      visibility: visible;  
      font-size: 1rem;
     }

     #menuButton {
      opacity: 1;
      visibility: visible;
      position: relative;
     }
   

   #menu ul {
      display: flex;
      gap: 1rem;
   }

   #homeButton {
      opacity: 0;
      visibility: hidden;
      position: absolute;
     }

   #homeTitle {
      opacity: 0;
      visibility: hidden;
      position: absolute;
 }
 
  #greatCode, #greatCoffee {
     font-size: 4rem;
  }

  }